@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald&family=Poppins:wght@300&display=swap');

@media only screen and (min-width: 37.5em) {
    header{
        background-color: #1B365C;
        font-family: "Poppins", serif;
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-template-rows: repeat(4, auto) ;
    }
	body a{
		text-decoration: none;
	}
    header #imgh{
        justify-content: end;
        display: grid;
        grid-column: 1/2;
        grid-row: 1/2;
        align-items: center;
        margin-top: 10px;
    }

    #imgr1 {
        display: grid;
        grid-column: 3/4;
        justify-content: center;
        grid-row: 1/2;
        align-items: center;
        margin-left: 20px;
    }

    #imgr2 {
        display: grid;
        grid-column: 4/5;
        justify-content: center;
        grid-row: 1/2;
        align-items: center;
    }

    #t1{
		grid-column: 2/3;
		justify-content: start;
		display: grid;
		padding-left: 10px;
		align-content: center;
        grid-row: 1/2;
        justify-items: start;
        color: white;
	}
    button {
        display: grid;
    }
	/*#hamButton {
		display: block;
		position: absolute;
		top: 20px;
		right: 20px;
		width: fit-content;
		font-size: 1.5rem;
		padding: .5rem;
		color: #7EA1C4;
        background-color: #1B365C;
        border: solid #7EA1C4 ;
        border-radius: 5px;
        margin-top: 20px;
	}
	.burguer {
        display: flex;
		flex-direction: column;
		list-style: none;
		background-color: #7EA1C4;
        
	}
	.burguer li a {
		padding: 1.15rem;
		display: block;
		text-align: center;
		text-decoration: none;
		color: #1B365C;
        
	}
	.burguer li a:hover {
		background-color: #1B365C;
		color: #7EA1C4;
		font-weight: 700;
	}
    .burguer.responsive{
        grid-column: 1/6;
        grid-row: 3/4;
    }
    .burguer.responsive li {
        display: flex;
        width: 100%;
        
    }
	*/




    aside {
        margin: 0.5rem;
        border: 1px solid #7EA1C4;
        padding: 0.75rem 1rem;
    }

    #actual {
		color: #1B365C;
        font-size: 1.3em;
		background-color: #7EA1C4;
		text-align: center;
        grid-row: 2/3;
        grid-column: 1/6;
        display: grid;
        align-content: center;
	}
	
	
	.todas{
		display: grid;
		grid-template-columns: 1fr 1fr ;
		grid-template-rows: repeat(5, 250px);
		padding: 10px;
	}
	
	#event{
		padding: 10px;
		margin: 5px;
		grid-column: 1/2;
		grid-row: 5/6;
		border: #1B365C solid;
		display: flex;
		flex-direction: column;
		align-items: center;
		font-family: "Poppins", serif;
		color: #1B365C;
		background-color: white;
		text-align: center;
	}
	#event h1{
		font-size: 1.3em;
	}
	#event h2{
		font-size: 1.1em;
	}
	#event p {
		font-family: "Oswald", sans-serif;
		color: #1B365C;
		background-color: #7EA1C4;
		font-size: 1.3em;
	}
	
	
	#weather{
		padding: 10px;
		margin: 5px;
		grid-column: 2/3;
		grid-row: 5/6;
		border: #1B365C solid;
		display: grid;
		grid-template-columns: 1fr 1fr;
		color: #1B365C;
		background-color: white;
	}
	#weather h1 {
		font-family: "Poppins", serif;
		grid-column: 1/3;
		grid-row: 1/2;
		text-align: center;
		font-size: 1.1em;
	}
	#weather img{
		grid-column: 1/2;
		grid-row: 2/3;
		border: 1px solid black;
	}
	#weather h2{
		grid-column: 2/3;
		grid-row: 2/3;
		text-align: center;
		font-family: "Poppins", serif;
			
	}

	#weather h3{
		grid-column: 1/3;
		grid-row: 4/5;
		text-align: end;
		font-family: "Poppins", serif;
		font-size: 0.9em;
	}
	#weather #wp1{
		grid-column: 1/3;
		grid-row: 4/5;
		font-family: "Oswald", serif;
		font-size: 0.7em;
	}
	#weather #wp2 {
		grid-column: 1/3;
		grid-row: 5/6;
		font-family: "Oswald", serif;
		font-size: 0.7em;
	}


	#join {
		padding: 10px;
		margin: 5px;
		grid-column: 1/3;
		grid-row: 4/5;
		border: #1B365C solid;
		background-color: white;
	}

	.jous  {
		
		color: #1B365C;
		background-color: #7EA1C4;
		text-decoration: none;
		border-radius: 40px;
		font-size: 2.5em;
		text-align: center;
		align-content: center;
		font-family: "Poppins", serif;
		display: grid;
	}

	.jous:hover {
		background-color: #1B365C;
		color: white;
	}

	#join p{
		font-family: "Oswald", serif;
		background-color: #7EA1C4;
		text-align: center;
		display: grid;
		align-content: center;
		font-size: 1.5em;
		color: #1B365C;
		border-radius: 10px;
	}
	
	#hero{
		padding: 10px;
		grid-column: 1/3;
		grid-row: 1/2;
		border: #1B365C solid;
		margin: 5px;
		display: grid;
		background-color: white;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
	#hero picture.heroimg img {
		width: 	100%;
		height: 215px;
		object-fit: cover;
	}

	#hero picture.heroimg {
		grid-column: 1/2;
		grid-row: 1/2;
	}

	#hero h1{
		grid-column: 1/2;
		grid-row: 1/2;
		z-index: 0;
		margin-top: 20px;
		margin-left: 10px;
		font-family: "Poppins", serif;
		color: white;
		font-size: 1.5em;
	}
	
	#herodiv{
		grid-column: 1/2;
		grid-row: 1/2;
		justify-items: center;
		align-items: end;
		text-align: center;
		justify-content: center;
		z-index: 0;
		font-family: "Poppins", serif;
		font-size: 0.8em;
		display: grid;
		margin-left: 30px;
		margin-right: 10px;
	}
	#hero h2{
		background-color: #7EA1C4;
		border-radius: 20px;
		padding: 10px;
		color: white;
	}
	#hero h2:hover {
		color: #7EA1C4;
		background-color: white;
	}


	#news{
		padding: 5px;
		margin: 5px;
		grid-column: 1/3;
		grid-row: 2/3;
		border: #1B365C solid;
		background-color: white;
	}
	#news h1{
		color: #1B365C;
		font-family: "Poppins", serif;
		text-align: center;
		display: grid;
		font-size: 1.3em;
		margin-left: 5px;
	}

	#news p{
		color: #1B365C;
		border-radius: 5px;
		padding: 5px;
		font-family: "Oswald", serif;
		text-align: center;
		background-color: white;
		font-size: 0.9em;
	}
	
	
	#spotlight{
		padding: 5px;
		margin: 5px;
		grid-column: 1/3;
		grid-row: 3/4;
		border: #1B365C solid;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		background-color: white;
	}
	.spot{
		border: #1B365C solid;
		align-items: center;
		display: flex;
		flex-direction: column;
		background-color: #7EA1C4;
		margin-bottom: 10px;
	}
	.spot h3:hover {
		background-color: #1B365C;
		color: white;
	}
	.spot img {
		width: 40%;
		background-color: white;
	}
	.spot h1  {
		font-size: 1em;
		margin: 2px;
		font-family: "Poppins", serif;
		color: #1B365C;
		text-align: center;
	}
	.spot h2 {
		font-size: 0.9em;
		margin: 2px;
		font-family: "Poppins", serif;
		color: #1B365C;
		text-align: center;
	}


	.spot h3{
		margin: 2px;
		font-family: "Poppins", serif;
		color: #1B365C;
		text-align: center;
		font-size: 0.8em;
	}
	
	



	footer{
		display: grid;
		background-color: #1B365C;
		color: white;
        font-family: "Poppins", serif;
	}
	footer a{
		color: white;
	}
	footer a:hover{
		background-color: #7EA1C4;
		color: #1B365C;
	}
	footer img{
		width: 150px;
	}
	#imgf{
		grid-column: 1/2;
		align-content: center;
		display: grid;
		justify-content: end;
	}

	#f1{
		grid-column: 2/3;
		justify-content: start;
		display: grid;
		padding-left: 10px;
		align-content: center;
        justify-items: start;
       
	}
    #f1 h2{
        font-size: 1.2em;
    }
	#f2{
		grid-column: 3/4;
		justify-content: start;
		display: grid;
	}

	#f3{
		grid-column: 1/4;
		text-align: center;
		border-top: 1px solid #7EA1C4;
	}









/*Discover page*/
.discover {
	display: grid;
	padding: 10px;
	margin: 10px;
	grid-template-columns: 1fr;
}

.discover div{
	background-color: #7EA1C4;
	border: 2px solid #1B365C;
	display:grid;
	margin: 10px auto;
	padding: 10px;
	justify-items: center;
}

.discover p{
	display: grid;
	justify-items: center;
	font-size: 1.3em;
	color:#1B365C;
	font-family: "Oswald", sans-serif;
	text-align: center;
}


.discover h1 {
	color: #1B365C;
	font-family: "Poppins", sans-serif;
	
}

.discover img{
	border: 2px solid #1B365C;
	margin: 20px;
}

.discover img:hover{
	transition: transform .5s;
    box-shadow: 5px 5px 10px #1B365C;
    transform: scale(1.05);
}

#peopleVisit {
	color: #1B365C;
	font-size: 1.3em;
	background-color: #7EA1C4;
	text-align: center;
	display: grid;
	align-content: center;
	font-family: "Oswald", sans-serif;
}




/*Join*/


.join {
    padding: 0 2%;
    min-height: 20rem;
}

.join h1{
	font-family: "Poppins", sans-serif;
	color: #1B365C;
}


form fieldset{
    margin: 2rem 0;
    border: none;
    padding: .5rem 2%;
}

form legend{
    color: #1B365C;
    margin: 0 1rem;
    padding: 0 .5rem;
	font-family: "Oswald",sans-serif;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color:#1B365C;
    font-size: 1.3rem;
	font-family: "Poppins",sans-serif;
}

form label.top input, form label.top select{
    display: block;
    font-size: 1rem;
    border: solid 1px #1B365C;
    border-radius: 4px;
    padding: .75rem;
    color: #1B365C;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    font-size: 1.3rem;
	font-family: "Oswald", sans-serif;
	color: #1B365C;
}


form input.submitBtn{
    border: none;
    background-color:#7EA1C4;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid{
    border-left: green solid 6px;
}


table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	font-size: 1.1em;
	font-family: "Poppins",sans-serif;
	color: #1B365C;
	text-align: center;
	padding: 3px;
}


.tdt{
	text-align: left;
}

/* DIRECTORY PAGE */

#partners{
	text-align: center;
	color: #1B365C;
	font-family: "Poppins",sans-serif;
}
.companiesMain img {
    box-shadow: 3px 3px 10px 3px black;
}
.cards {
    display: grid;
    grid-template-columns:1fr 1fr;
    padding: .5rem;
    box-shadow: 3px 3px 10px 3px black;
}



.companiesMain {
	margin: 0 auto;
	padding: 0.5rem;
	background-color: #fff;
	font-family: Roboto, Helvetica, sans-serif;
}

.menu {
	margin: 1rem auto;
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #bed;
	text-align: center;
}

.menu button {
	padding: 1rem;
	font-weight: 700;
}

.companiesMain section {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0.5rem;
	background-color: #7EA1C4;
	text-align: center;
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
	align-items: center;
}

.grid section {
	text-align: center;
}

.grid img {
	border: 1px solid #fff;
	box-shadow: 0 0 10px #333;
}

.grid section > * {
	margin: 0.1rem;
}

.grid h2 {
	display: none;
}

.list {
	display: flex;
	flex-direction: column;
}

.list section {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr 1fr;
	margin: 0;
	padding: 0.25rem;
}

.list section > * {
	margin: 0 1rem;
}

.list section img {
	display: none;
}

.list section h2 {
	font-size: 1rem;
	font-family: Roboto, Helvetica, sans-serif;
}

.list section:nth-child(even) {
	background-color: #bed;
}


.companiesMain section p {
	font-weight: 600;
	font-size: 1rem;
	padding: 3px;
	font-family: "Arial", serif;
}

.companiesMain section a {
	font-family: "Roboto", Arial, sans-serif;
	font-size: 0.85rem;
	color: navy;
	letter-spacing: 1.1pt;
}

.companiesMain img {
	
	max-width: 100%;
}


/* Contact */
#mainContact h1{
	font-size: 1.4em;
	align-items: center;
	text-align: center;
}

#mainContact{
	display: grid;
}



}










