@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Oswald&family=Poppins:wght@300&display=swap');

nav {
	margin: 10px auto;
}
body a{
	text-decoration: none;
}
header{
	background-color: #1B365C;
	font-family: "Poppins", serif;
	display: grid;
}
#imgh{
	justify-content: center;
	display: grid;
	align-items: center;
	margin-left: 5px;
	margin-top: 10px;
	
}

#imgr1 {
	display: grid;
	justify-content: center;
	align-items: center;
}
#imgr2 {
	display: grid;
	justify-content: center;
	align-items: center;
}


#t1{
	justify-content: start;
	display: grid;
	padding-left: 10px;
	align-content: center;
	justify-items: start;
	color: white;
	font-size: 0.7em;
}
#hamButton {
	display: block;
	position: absolute;
	top: 20px;
	width: fit-content;
	font-size: 1.5rem;
	padding: .5rem;
	color: #7EA1C4;
	background-color: #1B365C;
	border: solid #7EA1C4 ;
	border-radius: 5px;
	margin-top: 20px;
	margin-right: 20px;
}

aside {
	margin: 0.5rem;
	border: 1px solid #7EA1C4;
	padding: 0.75rem 1rem;
}

#actual {
	color: #1B365C;
	font-size: 1.3em;
	background-color: #7EA1C4;
	text-align: center;
	grid-row: 2/3;
	grid-column: 1/6;
	display: grid;
	align-content: center;
}
.burguer {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #7EA1C4;
}
.burguer li {
	display: none;
}
.burguer li a {
	padding: 1.15rem;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #1B365C;
}
.burguer li a:hover {
	background-color: #1B365C;
	color: #7EA1C4;
	font-weight: 700;
}

.burguer.responsive li {
	display: grid;
	width: 100%;
}
.burguer.responsive li a {
	display: grid;
}


.todas{
	display: grid;
	grid-template-rows: repeat(6, 250px);
	grid-template-columns: 100%;
	padding: 10px;
	justify-content: center;
}

#event{
	padding: 10px;
	margin: 5px;
	grid-column: 1/2;
	grid-row: 2/3;
	border: #1B365C solid;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: "Poppins", serif;
	color: #1B365C;
	background-color: white;
	text-align: center;
}
#event h1{
	font-size: 1.3em;
}
#event h2{
	font-size: 1.1em;
}
#event p {
	font-family: "Oswald", sans-serif;
	color: #1B365C;
	background-color: #7EA1C4;
	font-size: 1.3em;
}


#weather{
	padding: 10px;
	background-color: #bbb;
	margin: 5px;
	grid-row: 3/4;
	border: 2px solid black;
	display: grid;
}

#weather{
	padding: 10px;
	margin: 5px;
	grid-column: 1/2;
	grid-row: 3/4;
	border: #1B365C solid;
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: #1B365C;
	background-color: white;
}
#weather h1 {
	font-family: "Poppins", serif;
	grid-column: 1/3;
	grid-row: 1/2;
	text-align: center;
	font-size: 1.1em;
}
#weather img{
	grid-column: 1/2;
	grid-row: 2/3;
	border: 1px solid black;
}
#weather h2{
	grid-column: 2/3;
	grid-row: 2/3;
	text-align: center;
	font-family: "Poppins", serif;
		
}

#weather h3{
	grid-column: 1/3;
	grid-row: 3/4;
	text-align: center;
	font-family: "Poppins", serif;
	font-size: 0.9em;
}
#weather #wp1{
	grid-column: 1/3;
	grid-row: 4/5;
	font-family: "Oswald", serif;
	font-size: 0.7em;
}
#weather #wp2 {
	grid-column: 1/3;
	grid-row: 5/6;
	font-family: "Oswald", serif;
	font-size: 0.7em;
}


#join{
	padding: 10px;
	background-color: #bbb;
	margin: 5px;
	grid-row: 6/7;
	border: 2px solid black;
	display: grid;
}

#join {
	padding: 10px;
	margin: 5px;
	grid-row: 6/7;
	border: #1B365C solid;
	background-color: white;
}

.jous  {
	
	color: #1B365C;
	background-color: #7EA1C4;
	text-decoration: none;
	border-radius: 40px;
	font-size: 2.5em;
	text-align: center;
	align-content: center;
	font-family: "Poppins", serif;
	display: grid;
}
.jous:hover {
	background-color: #1B365C;
	color: white;
}

#join p{
	font-family: "Oswald", serif;
	background-color: #7EA1C4;
	text-align: center;
	display: grid;
	align-content: center;
	font-size: 1.5em;
	color: #1B365C;
	border-radius: 10px;
}

#hero{
	grid-row: 1/2;
	grid-template: 1/2;
	border: #1B365C solid;
	margin: 5px;
	display: grid;
	background-color: white;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
}
#hero picture.heroimg img {
	width: 	100%;
	height: 235px;
	object-fit: cover;
}

#hero picture.heroimg {
	grid-column: 1/2;
	grid-row: 1/2;
}


#hero h1{
	grid-row: 1/2;
	grid-column: 1/2;
	z-index: 0;
	font-size: 1em;
	margin-top: 20px;
	margin-left: 10px;
	font-family: "Poppins", serif;
	color: white;
}

#herodiv{
	grid-column: 1/2;
		grid-row: 1/2;
		justify-items: center;
		align-items: end;
		text-align: center;
		justify-content: center;
		z-index: 0;
		font-family: "Poppins", serif;
		font-size: 0.6em;
		display: grid;
		margin-left: 30px;
		margin-right: 5px;
}
#hero h2{
	background-color: #7EA1C4;
	border-radius: 20px;
	padding: 10px;
	color: white;
}
#hero h2:hover {
	color: #7EA1C4;
	background-color: white;
}

#news{
	padding: 5px;
	margin: 5px;
	grid-row: 4/5;
	border: #1B365C solid;
	background-color: white;
}
#news h1{
	color: #1B365C;
	font-family: "Poppins", serif;
	text-align: center;
	display: grid;
	font-size: 1.3em;
	margin-left: 5px;
}

#news p{
	color: #1B365C;
	border-radius: 5px;
	padding: 5px;
	font-family: "Oswald", serif;
	text-align: center;
	font-size: 0.7em;
}


#spotlight{
	
	margin: 5px;
	grid-row: 5/6;
	border: #1B365C solid;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr ;
	background-color: white;
}
.spot{
	border: #1B365C solid;
	align-items: center;
	display: flex;
	flex-direction: column;
	background-color: #7EA1C4;

}
.spot h3:hover {
	background-color: #1B365C;
	color: white;
}

.spot img {
	width: 50%;
	background-color: white;
}
.spot h1  {
	font-size: 0.7em;
	margin: 6px;
	font-family: "Poppins", serif;
	color: #1B365C;
	text-align: center;

}
.spot h2 {
	font-size: 0.6em;
	margin: 6px;
	font-family: "Poppins", serif;
	color: #1B365C;
	text-align: center;
}


.spot h3{
	margin: 6px;
	font-family: "Poppins", serif;
	color: #1B365C;
	text-align: center;
	font-size: 0.5em;
}


footer{
	display: flex;
	flex-direction: column;
	background-color: #1B365C ;
	color: white;
	margin: 10px;
	font-family: "Poppins", serif;
}
footer a{
	color: white;
}
footer img{
	width: 150px;
}
#imgf{
	display: grid;
	justify-content: center;
	margin-top: 5px;
	
}

#f1{
	text-align: center;
	justify-content: center;
	display: grid;
	padding-left: 10px;
	align-content: center;

}

#f2{
	display: grid;
	text-align: center;
	justify-content: center;
}

#f3{
	text-align: center;
	justify-content: center;
	border-top: 1px solid #999;
}










/*Discover page*/
.discover {
	display: grid;
	padding: 10px;
	margin: 10px;
	grid-template-columns: 1fr;
}

.discover div{
	background-color: #7EA1C4;
	border: 2px solid #1B365C;
	display:grid;
	margin: 10px auto;
	padding: 10px;
	display: grid;
	justify-items: center;
}

.discover p{
	display: grid;
	justify-items: center;
	font-size: 0.9em;
	color:#1B365C;
	font-family: "Oswald", sans-serif;
	text-align: center;
}

.discover h1 {
	color: #1B365C;
	font-family: "Poppins", sans-serif;
}

.discover img{
	border: 2px solid #1B365C;
	margin: 20px;
}

#peopleVisit {
	color: #1B365C;
	font-size: 0.9em;
	background-color: #7EA1C4;
	text-align: center;
	display: grid;
	align-content: center;
	font-family: "Oswald", sans-serif;
}





/*Join Page */

.join {
    padding: 0 2%;
    min-height: 20rem;
}

.join h1{
	font-family: "Poppins", sans-serif;
	color: #1B365C;
}


form fieldset{
    margin: 2rem 0;
    border: 1px solid #1B365C;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend{
    color: #1B365C;
    margin: 0 1rem;
    padding: 0 .5rem;
	font-family: "Oswald",sans-serif;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color:#1B365C;
    font-size: 1rem;
	font-family: "Poppins",sans-serif;
}

form label.top input, form label.top select{
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form label.sbs {
    display: block;
    padding: .75rem 0;
    font-size: 1rem;
	font-family: "Oswald", sans-serif;
	color: #1B365C;
}


form input.submitBtn{
    border: none;
    background-color:#7EA1C4;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid{
    border-left: green solid 6px;
}


table, th, td{
	border: 1px solid black;
	border-collapse: collapse;
	font-size: .7em;
	font-family: "Poppins",sans-serif;
	color: #1B365C;
	text-align: center;
	padding: 5px;
}


.tdt{
	text-align: left;
}