body {
    height: 100%;
    margin: 0 auto;
    padding: 4em;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 1.5rem;
    margin: 0.15rem;
}

h2 {
    font-size: 1rem;
    border-bottom: 1px solid #999;
    margin-bottom: 0.5rem;
}

header img {

    width: 200px;
    height: auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1em;
    align-items: center;
    color: white;
    background-color:rgb(96, 96, 192);
    font-size:1.5em;
}
footer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(96, 96, 192);
    align-items: center;
    justify-items: center;
    color: white;
}

#yellow {
    color: yellow;
}