@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

@media only screen and (max-width: 900px){
    
    body{
        font-family: "Roboto";
    }

    h1{
        background-color: rgb(178, 178, 236) ;
    }

    footer{
        background-color: rgb(178, 178, 236) ;
    }

    main{
        display: block;
        padding-bottom: 30px;
        border: solid rgb(178, 178, 236);
    }

    section{
        padding: 30px ;
        border: solid rgb(178, 178, 236);
        border-width: 8px;
    }
    
    
}