main{
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    
}
img {
    display: grid;
    margin: 30px;
    border: 3px solid black ;
    margin: .5rem;
    filter: blur(0em);
    transition: filter .5s;
}

img[data-src] {filter: blur(.2rem);}